/* Headers Section */
#navbar{
    /* position: fixed; */
    /* width: 100%; */
    /* z-index: 1000; */
    /* margin-top: -30px; */
}
.container-fluid{
    height: 60px;
}
.nav-link{
    position: relative;
    left: 300px;
    margin-right: 40px;
    font-size: 18px;
}
.button{
    position: relative;
    left: 450px;
    font-size: 13px;
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    margin-left: 20px;
    padding-right: 10px;
}
.button:hover{
    background-color: black;
    color: white;
}
.navbar-brand{
    font-size: 30px;
    margin-left: 40px;
    font-weight: 700;
}
.fa-solid{
    padding-right: 8px;
    padding-left: 5px;
}
.line{
    margin-bottom: 35px;
}
/* home page */
.banner{
    background-image: url("../imgs/main.png.jpg");
    height: 450px;
    background-position: 100%; 
    margin-left: 15px;
    margin-right: 15px;
}
.home-img{
    position: relative;
    top: 150px;
    font-size: 45px;
    font-weight: lighter;
    color: white;
    margin-left: 40px;
    
}
.banner-content{
    width: 95%;
    color: white;
    position: relative;
    left: 40px;
    top: 140px;
    font-size: 30px;
}
.latestProducts{
    font-size: 45px;
    margin-top: 30px;
    font-weight: lighter;
    text-align: center;
}
.categoryBtn{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    
}
#productsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding-bottom: 50px;
    padding-left: 20px;
}
#productsContainer .productCard{
    width: 350px;
    border: 1px solid rgb(177, 175, 175);   
    border-radius: 5px;
    text-align: center;
    padding: 7px;
 }
 .productCard img{
    width: 100%;
    height: 190px;
    object-fit: contain;      
}
/* About Us page */
.aboutUs{
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}
.aboutUs-Content{
    color: rgb(116, 116, 116);
    font-size: 20px;
    text-align: center;
    margin-left: 30px;
    margin-right: 20px;
    line-height: 35px;
}
.OurProducts-lable{
    margin-top: 40px;
    text-align: center;
}
.product-imgs{
    /* border: 1px solid black; */
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
}
.caption{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.product-imgs>figure{
    border: 1px solid rgb(184, 182, 182);
    border-radius: 7px;
}
.img-styles{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}
/* contact us page */
.contactUs-container{
    margin-left: 620px;
}
.contactUs-container p{
    margin-bottom: 10px;
    margin-top: 15px;
}
.contact-boxes{
    border: 1px solid rgb(184, 182, 182);
    border-radius: 5px;
    padding-left: 10px;
    width: 350px;
    height: 40px;
}
#contact-message{
    text-align: start;
    height: 200px;
}
 #contact-message::placeholder{
    position: relative;
    transform: translateY(-85px);
    line-height: 1px; 
 }
 .sendBtn{
    margin-left: 765px;
    margin-top: 25px;
    border: none;
    color: white;
    background-color: grey;
    border-radius: 5px;
    height: 35px;
    width: 80px;
 }
/* Footer */
.footer{
    font-size: 17px;
    margin-top: 40px;
    margin-bottom: 35px;
    text-align: center;
}
.footer u{
    font-size: 18px;
}
.contact-footer{
    font-size: 17px;
    margin-top: 40px;
    margin-bottom: 35px;
    margin-left: 680px;
}
.contact-footer u{
    font-size: 18px;
}
.home-footer{
    text-align: center;
}

/* cart page */
.cart-empty {
    height: 300px;
    text-align: center;
    background-color: #f8f9fa;
    color: black;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
    font-size: 50px;
    font-weight: lighter;
}
.cart-empty p{
    margin-top: 60px;
}
.order-summary {
    width: 400px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px;
    background-color: #f9f9f9;
}
.btn-custom {
    margin-top: 10px;
    display: block;
    width: 100%;
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}
.product-list {
    list-style-type: none;
    padding: 0;
}

.product-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
}

.product-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.product-details img {
    width: 175px;
    height: 100px;
    margin-left: 20px;
    border: none;
}
.product-details p {
    margin-right: 120px;
    margin-left: 60px;

}

.quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.quantity-controls button {
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.quantity-controls span {
    margin: 0 10px;
}

.btn-dark-custom {
    background-color: black;
    color: white;
}

.btn-light-custom {
    border: 2px solid black;
}
.remove-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}
.remove-btn:hover {
    background-color: #c82333;
}
#products-price{
color: rgb(10, 3, 3);
font-family: bold;
font-size: 20px;
margin-left: 170px;
}
#shipping-cost{
color: rgb(10, 3, 3);
font-family: bold;
font-size: 20px;
margin-left: 190px;
}
#total-amount{
color: rgb(10, 3, 3);
font-family: bold;
font-size: 20px;
margin-left: 220px;
}