/* Headers Section */
.container-fluid{
    height: 60px;
}
.nav-link{
    position: relative;
    left: 300px;
    margin-right: 40px;
    font-size: 18px;
}
.button{
    position: relative;
    left: 450px;
    font-size: 13px;
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    margin-left: 20px;
    padding-right: 10px;
}
.navbar-brand{
    font-size: 30px;
    margin-left: 40px;
    font-weight: 700;
}
.fa-solid{
    padding-right: 8px;
    padding-left: 5px;
}


/* About Us page */
.aboutUs{
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}
.aboutUs-Content{
    color: rgb(116, 116, 116);
    font-size: 20px;
    text-align: center;
    margin-left: 30px;
    margin-right: 20px;
    line-height: 35px;
}
.OurProducts-lable{
    margin-top: 40px;
    text-align: center;
}
.product-imgs{
    /* border: 1px solid black; */
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
}
.caption{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.product-imgs>figure{
    border: 1px solid rgb(184, 182, 182);
    border-radius: 7px;
}
.img-styles{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}
/* Footer */
.footer{
    font-size: 17px;
    margin-top: 40px;
    margin-bottom: 35px;
    text-align: center;
}
.footer u{
    font-size: 18px;
}